body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #cccccc;
}

main {
  display: block;
}

.wrap {
  position: relative;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

.main-header {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0;
}

.site-navigation {
  width: 325px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.site-navigation a {
  text-decoration: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  border-top: 7px solid rgba(254, 254, 254, 0);
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  border-top: 7px solid #54d154;
  font-weight: 500;
}

.site-navigation li {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 0;
  margin: 0;
}

.main-header-logo {
  position: absolute;
  width: 67px;
  height: 19px;
  padding: 0;
  margin: 5px auto;
  left: 0;
  right: 0;
  top: 0;
}

.main-navigation form {
  padding: 0;
  margin: 3px 0;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search input {
  display: inline-block;
  vertical-align: baseline;
  border-radius: 50px 0 0 50px;
  padding: 1px 0;
  padding-left: 10px;
  border: none;
  background-color: rgba(254, 254, 254, 0.8);
  color: #000000;
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  overflow: auto;
}

.search button {
  border-radius: 0 50px 50px 0;
  border: none;
  background-color: rgba(254, 254, 254, 0.8);
  margin: 0;
  padding: 7.2px;
}

.search button:hover {
  cursor: pointer;
}

/* main */

.intro {
  padding: 250px 0 14px;
  margin: 0;
  background-color: #2b9b2b;
  color: #ffffff;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.intro h1 {
  font-size: 55px;
  line-height: 60px;
  padding: 0;
  margin: 20px auto;
}

.intro p {
  padding: 0;
  margin: 0;
}

.intro .for-work {
  padding: 0;
  margin: 43px auto;
}

.intro .button {
  font-size: 22px;
  border-radius: 50px;
  background-color: #54d154;
  margin: 0;
  padding: 10px 20px;
}

.button a {
  text-decoration: none;
  color: #ffffff;
}

.intro .button:hover,
.intro .button:focus {
  background-color: #2b9b2b;
  cursor: pointer;
}

p.scroll {
  display: inline-block;
  vertical-align: middle;
  color: #111111;
  border-radius: 50px;
  background-color: rgba(254, 254, 254, 0.7);
  font-size: 14px;
  line-height: 20px;
  padding: 2px 13px;
  margin: 0;
  margin-top: 183px;
}

.white {
  background-color: #ffffff;
  padding: 38px 65px 47px;
}

.white h2 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #828181;
}

.white h2::after {
  content: "";
  display: block;
  background-color: #828181;
  width: 43px;
  height: 1px;
  text-align: center;
  padding: 0;
  margin: 8px auto;
}

.white p {
  text-align: center;
  color: #b7b3b3;
  padding: 0;
  margin: 0;
}

.white p span {
  font-weight: lighter;
}

.feature-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.feature-item {
  list-style: none;
  max-width: 27%;
  min-width: 200px;
  padding: 0;
  margin: 70px 0 0;
}

.feature-item h3 {
  text-align: center;
  color: #828181;
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin: 162px 0 15px;
}

.feature-item .feature-discription {
  color: #828181;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin: 0 auto;
}

.feature-item .more {
  padding: 0;
  margin: 31px auto;
}

.feature-item .button {
  border-radius: 50px;
  background-color: #54d154;
  padding: 6px 15px;
  margin: auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
}

.feature-item .button:hover,
.feature-item .button:focus {
  background-color: #2b9b2b;
  cursor: pointer;
}

.feature-item:first-child {
  background-image: url("../img/foto.png");
  background-repeat: no-repeat;
  background-position: top;
}

.feature-item:nth-child(2) {
  background-image: url("../img/speed.png");
  background-repeat: no-repeat;
  background-position: top;
}

.feature-item:last-child {
  background-image: url("../img/bag.png");
  background-repeat: no-repeat;
  background-position: top;
}

.green {
  background-color: #54d154;
}

.green h2 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #207b20;
}

.green h2::after {
  content: "";
  display: block;
  background-color: #207b20;
  width: 43px;
  height: 1px;
  text-align: center;
  padding: 0;
  margin: 8px auto;
}

.green p {
  text-align: center;
  color: #2b9b2b;
  padding: 0;
  margin: 0;
}

.green p span {
  font-weight: lighter;
}

.work {
  padding: 38px 65px;
}

.work .type {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 0;
  margin: 61px auto 0;
}

.type li {
  display: inline-block;
  background-color: #ffffff;
  list-style: none;
  color: #2b9b2b;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 6px 15px;
  margin: 0;
  border: 1px solid  #2b9b2b;
}

.type li:first-child {
border-radius: 50px 0 0 50px;
}

.type li:last-child {
border-radius: 0 50px 50px 0;
}

.type li:hover,
.type li:focus,
.type li:active,
.type .active {
  border: 1px solid #2b9b2b;
  background-color: #2b9b2b;
  color: #ffffff;
}

.type a {
  text-decoration: none;
}

.work {
  text-align: center;
}

.work .photos {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  margin: 46px auto;
  max-width: 960px;
  min-width: 200px;
}

.photos li {
  list-style: none;
  width: 160px;
  height: 160px;
  margin: 14px 15px;
  padding: 0;
}

.photos img {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.work .more {
  font-size: 15px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #2b9b2b;
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}

.work .more:hover,
.work .more:focus {
  background-color: #268b26;
  cursor: pointer;
}

.work .more svg {
  fill: #ffffff;
  margin: 0 0 0 3px;
  padding: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 66px auto 0;
}

.carousel button {
  fill: #e0dfdf;
  border: none;
  background-color: transparent;
}

.carousel button:hover,
.carousel button:focus {
  fill: #cbcbcb;
}

.carousel button:active {
  fill: #54d154;
}

.scroll-prev {
  transform: rotate(270deg);
}

.scroll-next {
  transform: rotate(90deg);
}

.owl-carousel {
  padding: 0;
  margin: 0 120px;
}

.testimonial .comment {
  color: #444444;
  font-size: 15px;
  line-height: 18px;
  max-width: 460px;
  padding: 0;
  margin: 0;
}

.testimonial .client-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 17px auto;
}

.client-info .client-pic {
  display: inline-block;
  border: 2px solid #e2e2e2;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  overflow:hidden;
  text-align: center;
  vertical-align: middle;
  margin: 0 4px;
  padding: 0;
}

.client-pic img {
  display: inline-block;
  margin: auto;
  padding: 0;
}

.client-info .stat {
  margin: 0 3px;
  padding: 0;
}

.client-info .name {
  font-size: 15px;
  line-height: 19px;
  color: #444444;
  text-align: left;
}

.client-info .position {
  font-size: 15px;
  line-height: 19px;
  text-align: left;
}


.gray {
  background-color: #f2f1f1;
  padding: 30px 65px 47px;
}

.gray h2 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #828181;
}

.gray h2::after {
  content: "";
  display: block;
  background-color: #828181;
  width: 43px;
  height: 1px;
  text-align: center;
  padding: 0;
  margin: 8px auto;
}

.gray p {
  text-align: center;
  color: #b7b3b3;
  padding: 0;
  margin: 0;
}

.gray p span {
  font-weight: lighter;
}

.clients {
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 46px auto 0;
  max-width: 900px
}

.clients-list li {
  list-style: none;
  width: 151px;
  text-align: center;
  padding: 0;
  margin: 20px 15px;
  filter: invert(0.5);
}

.clients-list li:hover {
  filter: none;
}

.clients .more {
  font-size: 18px;
  border-radius: 50px;
  color: #a59d9d;
  background-color: #dddcdc;
  border: none;
  margin: 31px auto 15px;
  padding: 10px 20px;
  text-align: center;
  fill: #a59d9d;
}

.clients .more:hover,
.clients .more:focus {
  background-color: #a59d9d;
  cursor: pointer;
  color: #dddcdc;
  fill: #dddcdc;
}

.clients .more svg {
  margin: 0 0 0 12px;
  padding: 0;
}

.team {
  padding: 33px 65px 3px;
}

.members {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 110px;
  margin: 49px auto;
}

.members .member {
  list-style: none;
  padding: 0;
  margin: 0;
}

.member-photo {
  display: block;
  border-radius: 65px;
  width: 124px;
  height: 124px;
  background-color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
}

.member-photo img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.member-photo::after {
  content: "";
  display: block;
  width: 2px;
  height: 77px;
  background-color: #207b20;
  padding: 0;
  margin: 10px auto;
}

.member .name {
  color: #ffffff;
  padding: 0;
  margin: 95px auto 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width:75px;
  margin: 11px auto;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 50px;
}

.social .social-link {
  display: inline-block;
  box-sizing: border-box;
  list-style: none;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
}

.social-link:first-child path {
  fill: #ea4c89;
}

 .social-link:nth-child(2) path {
  fill: #0061ff;
}

.social-link:last-child path {
  fill: #00aced;
}

.social-link:hover path,
.social-link:focus path {
  fill: #2b9b2b;
}

.social-link:active path {
  fill: #2b9b2b;
}

.attention {
  background-color: #3eba3e;
  text-align: center;
  width: 100%;
  padding: 26px 0;
  margin: 0;
}

.attention button {
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 50px;
  color: #ffffff;
  background-color: #54d154;
  border: none;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.attention button:hover,
.attention button:focus {
  background-color: #5cec5c;
  cursor: pointer;
}

/* footer */

.main-footer {
  background-color: #333333;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 12px 25px;
}

.upper-footer div {
  min-width: 310px;
  max-width: 30%;
  padding: 0;
  margin: 0 10px;
}

.upper-footer h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}

.upper-footer h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  padding: 0;
  margin: 2px auto;
  background-color: #ffffff;
}

.upper-footer .about {
  text-align: center;
  font-size: 15px;
}

.about p {
  margin: 21px auto 30px;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
}

.upper-footer .posts {
  text-align: center;
  font-size: 15px;
}

.posts .preview-list {
  padding: 0;
  margin: 0;
}

.preview-list .preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.preview p {
  padding: 0;
  margin: 0;
}

.preview h4 {
  padding: 0;
  margin: 0;
}

.preview div.preview-image {
  display: block;
  box-sizing: border-box;
  width: 53px;
  height: 53px;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.preview-image img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.upper-footer .contacts {
  text-align: center;
  font-size: 15px;
}

.contacts p {
  padding: 0;
  margin: 0 auto;
}
